# 版本控制
.git
.github
.gitignore

# 编辑器配置
.vscode
*.code-workspace

# 依赖和构建产物
**/node_modules
**/target
**/dist
**/build

# 日志和临时文件
**/logs
**/*.log
**/temp

# 文档和Excel文件
*.md
*.xlsx
*.docx
*.pdf

# 非server目录的代码
/app/weapp
/app/miniprogram
/app/panel
/app/cloudfunctions 