# 鎺掗櫎鎵€鏈夋枃浠?
*

# 浠呭寘鍚繀瑕佹枃浠?
!app/server/pom.xml
!app/server/src

# 浣嗕粛鎺掗櫎src鐩綍涓殑涓嶅繀瑕佹枃浠?
app/server/src/**/*.class
app/server/src/**/*.log
app/server/src/test/

# 鍏朵粬鐩綍鍜屾枃浠?
.git
.github
.gitignore
.vscode
.idea
app/weapp
app/miniprogram
app/panel
app/cloudfunctions
**/target/
**/node_modules/
**/.DS_Store 
