# 版本控制
.git
.github
.gitignore

# 编辑器配置
.vscode
.idea
*.code-workspace

# 非必要文件
*.md
*.log
logs/

# 前端代码和其他不相关目录
app/weapp/**
app/miniprogram/**
app/panel/**
app/cloudfunctions/**

# Maven构建目录
**/target/
!app/server/target/*.jar 